<div id="footer" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-3">
                <div class="address-holder">
                    <div class="email"><i class="fas fa-envelope"></i> hello@merka.club</div>
                    <div class="address">
                        <i class="fas fa-map-marker"></i> 
                        <div>3240 Isla Banderas Way<br>
                            El Paso, TX<br>
                            Estados Unidos.</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-2 col-md-2">
                <div class="footer-menu-holder">
                    <h4>Empresa</h4>
                    <ul class="footer-menu">
                        <li><a href="#">Nosotros</a></li>
                        <li><a href="#">Noticias</a></li>
                        <li><a href="faq.html">Contacto</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-sm-2 col-md-3">
                <div class="footer-menu-holder">
                    <h4>Servicios</h4>
                    <ul class="footer-menu">
                        <li><a href="#">Marketing Digital</a></li>
                        <li><a href="#">Diseño Web</a></li>
                        <li><a href="#">Desarrollo Móvil</a></li>
                        <li><a href="#">Diseño Editorial</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="footer-menu-holder">
                    <h4>Otros</h4>
                    <ul class="footer-menu">
                        <li><a href="#">Campañas de correo</a></li>
                        <li><a href="#">Marketing científico</a></li>
                        <li><a href="#">Inteligencia Artificial</a></li>
                        <li><a href="#">Guías y Publicaciones</a></li>
                    </ul>
                </div>
            </div>
            <!-- <div class="col-xs-12 col-sm-1 col-md-1">
                <div class="social-menu-holder">
                    <ul class="social-menu">
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div> -->
        </div>
    </div>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/bootstrap-slider.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/main.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-142541604-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-142541604-1');
</script>

</body>
</html>