<div id="header-holder" class="main-header">
    
    <div class="bg-animation">
        <div class="graphic-show">
            <img class="fix-size" src="{{site.url}}/images/graphic1.png" alt="">
            <img class="img img1" src="{{site.url}}/images/graphic1.png" alt="">
            <img class="img img2" src="{{site.url}}/images/graphic2.png" alt="">
            <img class="img img3" src="{{site.url}}/images/graphic3.png" alt="">
        </div>
    </div>

    {% include nav.html %}}

    <div id="top-content" class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div id="main-slider">
                            <div class="slide">
                                <div class="noti-holder">
                                    <!-- <a href="#">
                                        <div class="noti">
                                            <span class="badge">New</span><span class="text">Added new packages in cloud hosting.</span>
                                        </div>
                                    </a> -->
                                </div>
                                <div class="spacer"></div>
                                <div class="big-title"><span>Estado del arte</span><br>del Marketing Digital.</div>
                                <p>Te ofrecemos soluciones innovadoras para tu negocio que van desde <i>planeación de campañas</i>, desarrollo de <i>aplicaciones móviles</i> hasta <i>machine learning</i> para marketing</p>
                                <div class="btn-holder">
                                    <a href="#" class="ybtn ybtn-white ybtn-shadow">Contáctanos</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img class="header-graphic" src="{{site.url}}/images/graphic1.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
</div>