<nav id="nav" class="navbar navbar-default navbar-full">
        <div class="container-fluid">
            <div class="container container-nav">
                <div class="row">
                    <div class="col-md-12">
                        <div class="navbar-header">
                            <button aria-expanded="false" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="logo-holder" href="{{site.url}}">
                                <div class="logo" style="width:62px;height:18px"></div>
                            </a>
                        </div>
                        <div style="height: 1px;" role="main" aria-expanded="false" class="navbar-collapse collapse" id="bs">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="{{site.url}}">Inicio</a></li>
                                <li class="dropdown unity-menu">
                                    <a href="#pricing">Servicios <i class="fas fa-caret-down"></i></a>
                                    <ul class="dropdown-menu dropdown-unity">
                                        <li>
                                            <a class="unity-link" href="{{site.url}}/servicios/bases-de-datos">
                                                <div class="unity-box">
                                                    <div class="unity-icon">
                                                        <img src="{{site.url}}/images/service-icon1.svg" alt="">
                                                    </div>
                                                    <div class="unity-title">
                                                        Base de Datos Empresarial
                                                    </div>
                                                    <div class="unity-details">
                                                        Listado de empresas con información de contacto
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        

                                    </ul>
                                </li>
                                <li><a href="#">Blog</a></li>
                                <li class="support-button-holder support-dropdown">
                                    <a class="support-button" href="#">Contacto</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>